/*^variables*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css");



/*estilos  que siempre estaran para lo que yo escoga se ponen con un background-colo:var(--el que eliga de los dos);*/
body{
    --bg-prime: #fff;
    --color-secondary: #f6f6f6;
}

/*clases del html (componentes)*/

.logo-del-navbar{
    width:auto;
    height:40px;
}
/*contenedor 1 del navbar, el que engloba todo*/
.navbar{
    padding:20px;
    margin: 10px;
    background-color: rgb(123,56,33,0.4) !important;
}

.navbar-nav .nav-link{
    margin: 0 40px;
    
}
/*formularios*/